<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lunchbox.csy.com.lunchbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".setting.SettingFragmentGps"
            android:label="@string/title_activity_setting_fragment_gps"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".setting.SettingFragmentPersonal"
            android:label="@string/title_activity_setting_fragment_personal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.SettingFragmentService"
            android:label="@string/title_activity_setting_fragment_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.SettingFragmentNotice"
            android:label="@string/title_activity_setting_fragment_notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MenuPickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".roulette.FoodRoulette"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".activity.DetailRestaurantActivity" />
        <activity android:name=".activity.DetailViewActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".alarm.AlarmReceiver" />

        <!--190402_가람의 맥북프로에서 생성한 api키_조원들 간 협의 필요-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDE8D0JVFUmxRVRvL5jPeARRm1bNi8_Dwc" />

    </application>

</manifest>